* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #131313;
}

body {
  font-family: 'Inter', sans-serif;

  font-size: 2rem;
  line-height: 1;
  color: #fff;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 98rem;
  padding: 0 8rem;
  margin: 0 auto;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem #70a2d4ae;
  transition: all 0.15s;
}

.hide {
  display: none !important;
}

.opacity {
  opacity: 0 !important;
}

/******** NAVIGATION ********/

.wavescan-icon {
  height: 5rem;
  width: auto;
}

.nav-bar {
  background-color: #131313;
  height: 10rem;

  display: grid;
  align-items: center;
  justify-content: start;
}

/******** SECTION ********/

.card {
  background-color: #333333;
  border-radius: 2rem;

  margin-top: 10rem;
  padding: 5rem 6rem;

  transition: all 0.2s;
}

.create-form {
  display: grid;
  grid-gap: 2rem 3rem;
}

.name {
  font-size: 4.5rem;
  padding-bottom: 3.8rem;
}

input,
select {
  padding: 1rem 1.5rem;
  border-radius: 1rem;

  width: 100%;

  font-size: 1.7rem;

  border: none;
}

input::placeholder {
  color: #868e96;
}

/* remove default up/down chevrons in input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* remove default down chevron in select fields */
select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  color: #fff;
  background-color: #1664b3;
  text-transform: uppercase;

  border-radius: 1rem;
  border: none;

  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  font-weight: 700;

  transition: all 0.15s;

  cursor: pointer;
}

.btn:active,
.btn:hover {
  background-color: #12508f;
}

.disable-btn,
.disable-btn:hover,
.disable:active {
  background-color: #adb5bd;
  color: #8d9296;

  cursor: default;
}

.error-message {
  color: #f04e4e;
  padding-top: 0.7rem;
  font-size: 1.5rem;
  grid-row: 2;
  grid-column: 2;
  font-weight: normal;
}
