/******** SCANNER SECTION ********/

h3 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.6rem;
}

.avail-scanner {
  display: grid;
  grid-template-columns: repeat(5, auto);

  column-gap: 2rem;
  row-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.start,
.scanner-name {
  justify-self: start;
}

.scanner-btn {
  justify-self: end;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.row-border {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #eaf2f6;
  grid-column: 1 / -1;
}

.available {
  color: #2ece4b;
}

.engaged {
  color: #f04e4e;
}
