/******** HERO SECTION ********/

.name {
  font-size: 4.5rem;
  padding-bottom: 1rem;
  /* color: #349cd0; */
}

.description {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 1.15;
}

/******** CARD SECTION ********/

.chevron-down-input {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;

  z-index: 1;
}

.chevron-down {
  z-index: -1;

  position: absolute;
  top: 9px;
  right: 8px;

  height: 2rem;
  width: 2rem;

  color: #131313;
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  display: block;
  grid-column: 1/-1;
}

.half-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.6rem;
}

.dimension {
  display: grid;
  grid-template-columns: auto 4fr;
  gap: 1.5rem;

  align-items: center;
}

.dimension > label {
  grid-column: 1;
  padding-bottom: 0;
}

#scan-mode {
  background-color: transparent;
  z-index: 1;
}

.btn--form {
  font-size: 2.5rem;
  padding: 1.2rem 2rem;
}

.bad-form {
  box-shadow: inset 0 0 0 4px #ff8787;
}

form > div {
  position: relative;
}

.correct-input {
  color: #37b24d;

  height: 3.5rem;
  width: 3.5rem;

  position: absolute;
  top: 3.2rem;
  right: 1rem;

  transition: all 0.3s;
}

.x-tick {
  right: 36.2rem;
}
