/******** FORM SECTION ********/

.chevron-down-input {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;

  z-index: 1;
}

.chevron-down {
  z-index: -1;

  position: absolute;
  top: 9px;
  right: 8px;

  height: 2rem;
  width: 2rem;

  color: #131313;
}

label {
  display: block;
  grid-column: 1/-1;

  padding-bottom: 1rem;
}

.half-row {
  display: flex;
  gap: 3.6rem;
}

.dimension {
  display: grid;
  grid-template-columns: auto 17fr;
  column-gap: 1.5rem;

  align-items: start;

  width: 50%;
}

.dimension > label {
  grid-column: 1;
  padding-bottom: 0;
  align-self: center;
}

#scan-mode {
  background-color: transparent;
  z-index: 1;
}

.btn--form {
  font-size: 2.5rem;
  padding: 1.2rem 2rem;
}

form > div {
  position: relative;
}

.correct-input {
  color: #37b24d;

  height: 3.5rem;
  width: 3.5rem;

  position: absolute;
  top: 3.2rem;
  right: 1rem;

  transition: all 0.2s;
}

.correct-textbox:focus {
  box-shadow: 0 0 0 0.3rem #2ece4ba3;
}

.wrong-textbox {
  box-shadow: 0 0 0 0.3rem #f04e4ec4;
}

.x-tick {
  right: 37.7rem;
}

#scan-tick {
  top: 0.1rem !important;
  z-index: -1;
}
